.section-1 {
    background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;
}
.icon-header {
    width: 200px;
    border-radius: 100%;
    margin-right: 25px;
}
.inner {
    border: none;
}
.outer {
    border: none;
    width: 100%;
    display: flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    color: #f9faf8;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}
.right-stuff {
    width:100%;
    display: flex;
    justify-content:flex-end;
}
.navbar-1 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.navbar-1:hover {
    background-color: gray;
}
.main-image {
    width: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 200px;
}
h1 {
    font-size: 48px;
    font-weight: bold;
}
p {
    font-size: 18px;
    color: e5e7eb;
}
button {
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
}
button:hover {
    background-color: blue;
}
p {
    width: 500px;
}
.text {
    margin-top: 25px;
    margin-left: 200px;
}
.header-2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 50px;
}
.center-stuff {
    width:100%;
    display: flex;
    justify-content:space-around;
}
.img-4 {
    width: 250px;
    height: 250px;
    background-color: gray;
}
.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 270px;
}
.caption {
    display: block;
}
div.outer.center-stuff {
    margin-top: 50px;
    margin-bottom: 100px;
}
img.img-4 {
    border: 5px solid #3882f6;
    border-radius: 5px;
}
.section-3 {
    background-color: gainsboro;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.bold-quote {
    font-weight: bold;
    font-style: unset;
}
div.inner.center-stuff {
    margin-top: 50px;
    margin-bottom: 80px;
}
div.inner.bold-quote {
    margin-top: 100px;
    margin-right: 25px;
}
.call-header {
    font-size: 24px;
}
.call-box {
    background-color: #3882f6;
}
div.inner.call-box {
    color: white;
    border-radius: 5px;
}
.call-text {
    margin-right: 500px;
}
h1.call-header.call-text {
    margin-top: 25px;
}
.call-button {
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 440px;
    margin-bottom: 15px;
}
.footer {
    background-color: #1F2937;
    color: #f9faf8;
}
.footer-p {
    margin-top: 50px;
    margin-bottom: 20px;
}